body {
  background-color: #FFF3B0;

}
h1{
    color:#0f6464;
    font-family:"Franklin Gothic Medium";
    font-size: 32px;
}

h2{
    color:#0c6666;
    font-family:"Franklin Gothic Medium";
    font-size: 24px;
}

h3{
    color:#b97e26;
    font-family:"Franklin Gothic Medium";
    font-size:18px;
}

.about_main_header{
        text-align: center;
        color: #540B0E;
        font-family:"Berlin Sans FB Regular";
        font-size: 30px;
}

.about_mission_statement{
        text-align: center;
        color: #540B0E;
        font-family:"Berlin Sans FB Regular";
        font-size: 20px;
}