
h1{color:#0f6464;
    font-family:"Franklin Gothic Medium";
    font: size 5px;
}

h2{color:#0c6666;
    font-family:"Franklin Gothic Medium";
    font: size 3px;
}

h3{color:#b97e26;
    font-family:"Franklin Gothic Medium";
    font-size:2px;
}

.about_main_header{
        text-align: center;
        color: #540B0E;
        font-family:"Berlin Sans FB Regular";
        font-size: 30px;
}