body {
  background-color: #e2d79d;
  /*background-image: url(images/BackdropYellowSalmon.jpeg);*/
}

h1{
    color:#0f6464;
    font-family:"Franklin Gothic Medium";
    font-size: 32px;
     margin-left: auto;
    margin-right: auto;
}

p{
    color:#0d1818;
    font-family:"Georgia";
    font-size: 16px;
}


h2{
    color:#0c6666;
    font-family:"Franklin Gothic Medium";
    font-size: 24px;
}

h3{
    color:#b97e26;
    font-family:"Franklin Gothic Medium";
    font-size:18px;
}

.home_header_1 {
     color: #333333;
     font-size: 1rem;
}

.about_main_header{
        text-align: center;
        color: #540B0E;
        font-family:"Berlin Sans FB Regular";
        font-size: 30px;
}

.about_mission_statement{
        text-align: center;
        color: #381112;
        font-family:"Berlin Sans FB Regular";
        font-size: 20px;
        width: 80%;
        background-color: rgb(243, 228, 161);
        margin-left: auto;
        margin-right: auto;
}
